<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text text-white">&copy; Copyright 2021. All Rights reserved.</h6>
      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link text-white" href="mailto:eduardoescobarjr@outlook.com"> <i class="fas fa-envelope-open-text"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://www.linkedin.com/in/eduardo-escobar-018927178/"> <i class="fab fa-linkedin"></i></i></a>
        </li>
      </ul>
  </nav>
</footer>


<li class="nav-item">
  <a class="nav-link text-white"  href="#" ><i class="fas fa-phone-square-alt"></i></i></a>
</li>